* {
  box-sizing: border-box;
  /* border: 0.5px orangered solid; */
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font: 16px/26px Arial, Verdana, sans-serif;
  /* font-weight: 400; */
  /* font-style: normal; */
  /* text-align: left; */
  color: #fff;
  /* width: 100%; */
}

ul {
  list-style-type: none;
}

.rocket {
  padding: 2rem 0;
}

.rocket__background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 67% 50%;
  overflow: hidden;
}

.rocket__button {
  text-transform: uppercase;
}

.rocket__info {
  transform: translateY(120%);
  background-color: #000;
}
